.card {
  position: relative;
  width: 20%;
  height: 30%;
  margin: 5%;
  box-shadow: #232830 2px 3px 3px;
  border-radius: 15px;
}

.card.selected {
  border: 3px #b4c7e7 solid;
}

.card input {
  position: absolute;
  bottom: 15px;
  left: 7%;
  width: 80%;
}
